.VSCodeCounter/
.vscode/

configServer/configServer

gateway/gateway

oauth-service/oauth-service

sk-admin/sk-admin
sk-admin/sk-admin*.log

sk-app/sk-app
sk-app/sk-app*.log

sk-core/sk-core
sk-core/sk-core*.log

uploadFile/uploadFile

user-service/user-service

.editorconfig
